# The goal of the configuration below is to configure Prettier to lint Markdown and JavaScript files.
**/*.*
!**/*.md
!**/*.js

# Let's keep LICENSE.md in the same formatting as we use in other PL repositories
LICENSE.md
